html, body {
    font-family:sans-serif;
    margin:0;
    padding:0;
}
h1 {
    text-align:center;
}
section {
    padding:1em;
    margin:0;
}
section:nth-child(even) {
    background-color:#defdff;
}
